# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore environment files
backend/.env
.env

# Ignore log files
*.log

# Ignore build files
frontend/build/
backend/dist/

# Optional: Mac system files and editor junk
.DS_Store
*.swp

**/node_modules/
